

.tournaments-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

.tournaments-list li {
  width: 300px;
 a{
   color: black;
   text-decoration: none;
 }
}


.tournaments-list-item{
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: none;
  margin: 0;
  margin: 10px;
  background: red;
}
